<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vector.module.system.mapper.SysRoleMapper">

    <resultMap id="SysRoleVoResult" type="com.vector.module.system.vo.SysRoleVo">
        <result property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="roleName" column="role_name"/>
        <result property="roleKey" column="role_key"/>
    </resultMap>

    <sql id="selectSysRoleVoSql">
        SELECT p.id, p.create_time, p.create_by, p.role_name, p.role_key
        FROM sys_role p
    </sql>

    <select id="selectVoById" parameterType="Long"
            resultMap="SysRoleVoResult">
        <include refid="selectSysRoleVoSql"/>
        WHERE p.id=#{id}
    </select>

    <select id="selectVoPage" resultMap="SysRoleVoResult"
            parameterType="com.vector.module.system.vo.SysRoleVo">
        <include refid="selectSysRoleVoSql"/>
        <where>
            <if test="q.createBy != null and q.createBy != ''"> AND p.create_by = #{q.createBy}</if>
            <if test="q.roleName != null and q.roleName != ''"> AND p.role_name LIKE concat('%', #{q.roleName}, '%')</if>
            <if test="q.roleKey != null and q.roleKey != ''"> AND p.role_key = #{q.roleKey}</if>
            <if test="q.createBegin != null and q.createEnd != null">
                AND p.create_time BETWEEN DATE_FORMAT(#{q.createBegin},'%Y-%m-%d 00:00:00') AND DATE_FORMAT(#{q.createEnd},'%Y-%m-%d 23:59:59')
            </if>
        </where>
        ORDER BY p.id DESC
    </select>

</mapper>
