<template>
  <el-dialog
    v-model="visible"
    :title="title"
    :width="width"
    append-to-body
    @close="close"
    :close-on-click-modal="false"
    draggable
    overflow
  >
    <el-form ref="formRef" :model="formData" :rules="rules" label-width="80px">
#foreach ($tableField in $tableFields)
#if($tableField.javaField != "id" && $tableField.isForm
  && $tableField.javaField != "createTime" && $tableField.javaField != "createBy"
  && $tableField.javaField != "updateTime" && $tableField.javaField != "updateBy")
      <el-form-item label="${tableField.comment}" prop="${tableField.javaField}">
#if($tableField.formComponent == "SELECT")
        <el-select v-model="dataForm.${tableField.javaField}" placeholder="${tableField.comment}">
          <el-option label="Option 1" value="1" />
          <el-option label="Option 2" value="2" />
        </el-select>
#elseif($tableField.formComponent == "SWITCH")
        <el-switch v-model="dataForm.${tableField.javaField}" />
#elseif($tableField.formComponent == "CHECKBOX")
        <el-checkbox-group v-model="dataForm.${tableField.javaField}">
          <el-checkbox label="Option 1" value="1" />
          <el-checkbox label="Option 1" value="1" />
        </el-checkbox-group>
#elseif($tableField.formComponent == "RADIO")
        <el-radio-group v-model="dataForm.${tableField.javaField}">
          <el-radio value="1">Option 1</el-radio>
          <el-radio value="2">Option 2</el-radio>
        </el-radio-group>
#elseif($tableField.formComponent == "NUMBER")
        <el-input-number v-model="dataForm.${tableField.javaField}" :min="1" />
#elseif($tableField.formComponent == "DATE")
        <el-date-picker v-model="dataForm.${tableField.javaField}" type="date" placeholder="${tableField.comment}" />
#else
        <el-input v-model="dataForm.${tableField.javaField}" placeholder="${tableField.comment}" />
#end
      </el-form-item>
#end
#end
    </el-form>
    <!-- 弹窗底部操作按钮 -->
    <template #footer>
      <div class="dialog-footer">
        <el-button type="primary" @click="handleSubmit">确 定</el-button>
        <el-button @click="close">取 消</el-button>
      </div>
    </template>
  </el-dialog>
</template>

<script setup lang="ts">
import { defineComponent } from 'vue'
import { get${BizName}, add${BizName}, update${BizName} } from "@/api/${moduleName}/${bizName}";
import { ${BizName}Form } from "@/api/${moduleName}/${bizName}/types";

defineComponent({
  name: "add-or-update"
})

const props = defineProps({
  width: {
    type: String,
    default: "500",
  }
});

const emit = defineEmits(["submitted"]);
// Dialog状态
const visible = ref(false);
// 表单
const formRef = ref(ElForm);
// 标题
const title = ref<string>("");
// 表单数据
const formData = reactive<${BizName}Form>({});
// 校验规则
const rules = reactive({
#foreach ($tableField in $tableFields)
#if($tableField.javaField != "id" && $tableField.javaField != "createTime" && $tableField.javaField != "createBy"
&& $tableField.javaField != "updateTime" && $tableField.javaField != "updateBy"
&& $tableField.isForm && $tableField.isRequired)
  ${tableField.javaField}: [{ required: true, message: '${tableField.comment}不能为空', trigger: 'blur' }],
#end
#end
});

/** 打开窗口 */
const open = (id: number) => {
  formData.id = id;
  title.value = id ? "修改" : "新增";
  visible.value = true;
  nextTick(() => {
    if (id) {
      get${BizName}(id).then(({ data }) => {
        Object.assign(formData, { ...data });
      });
    }
  })
}

/** 关闭窗口 */
const close = () => {
  visible.value = false;
  formRef.value.resetFields();
  formRef.value.clearValidate();
  formData.id = undefined;
}

defineExpose({
  open
});

/** 表单提交 */
const handleSubmit = useThrottleFn(() => {
  formRef.value.validate((valid: any) => {
    if (valid) {
      if (formData.id) {
        update${BizName}(formData)
          .then(() => {
            ElMessage.success("操作成功");
            emit("submitted")
            close();
          });
      } else {
        add${BizName}(formData)
          .then(() => {
            ElMessage.success("操作成功");
            emit("submitted")
            close();
          });
      }
    }
  });
}, 3000);
</script>
