import request from '@/utils/request'

export const list${BizName} = params => request.get('/${moduleName}/${bizName}/list', {params: params})

export const get${BizName} = id => request.get('/${moduleName}/${bizName}/' + id)

export const add${BizName} = data => request.post('/${moduleName}/${bizName}', data)

export const update${BizName} = data => request.put('/${moduleName}/${bizName}', data)

export const del${BizName} = id => request.delete('/${moduleName}/${bizName}/' + id)
