package ${packageName}.mapper;

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import com.baomidou.mybatisplus.core.metadata.IPage;
import ${packageName}.pojo.entity.${ClassName};
import ${packageName}.pojo.query.${ClassName}Query;
import ${packageName}.pojo.vo.${ClassName}VO;
import org.apache.ibatis.annotations.Mapper;
import org.apache.ibatis.annotations.Param;

/**
 * ${tableComment} Mapper
 * @author ${author}
 * @date ${date}
 */
@Mapper
public interface ${ClassName}Mapper extends BaseMapper<${ClassName}> {

    ${ClassName}VO selectVOById(Long id);

    IPage<${ClassName}VO> selectVOPage(@Param("page") IPage<?> page, @Param("q") ${ClassName}Query query);
}
