package ${packageName}.service;

import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.service.IService;
import ${packageName}.pojo.entity.${ClassName};
import ${packageName}.pojo.query.${ClassName}Query;
import ${packageName}.pojo.vo.${ClassName}VO;

/**
 * ${tableComment} Service
 * @author ${author}
 * @date ${date}
 */
public interface ${ClassName}Service extends IService<${ClassName}> {

    ${ClassName}VO getVOById(Long id);

    IPage<${ClassName}VO> pageVO(IPage<?> page, ${ClassName}Query query);
}
