/**
 * 查询参数
 */
export interface ${BizName}Query extends PageQuery {
#foreach ($tableField in $tableFields)
#if($tableField.isQuery)
  /** ${tableField.comment} */
  ${tableField.javaField}?: string;
#end
#end
}

/**
 * 对象视图
 */
export interface ${BizName}VO {
  /** ID */
  id?: number;
  /** 创建时间 */
  createTime?: Date;
  /** 创建人 */
  createBy?: string;
#foreach ($tableField in $tableFields)
#if($tableField.javaField != "id"
&& $tableField.javaField != "createTime" && $tableField.javaField != "createBy"
&& $tableField.javaField != "updateTime" && $tableField.javaField != "updateBy")
  /** ${tableField.comment} */
  ${tableField.javaField}?: string;
#end
#end
}

/**
 * 表单对象
 */
export interface ${BizName}Form {
  /** ID */
  id?: number;
#foreach ($tableField in $tableFields)
#if($tableField.javaField != "id" && $tableField.isForm
&& $tableField.javaField != "createTime" && $tableField.javaField != "createBy"
&& $tableField.javaField != "updateTime" && $tableField.javaField != "updateBy")
  /** ${tableField.comment} */
  ${tableField.javaField}?: string;
#end
#end
}
