package ${packageName}.vo;

import com.vector.common.core.query.PageQuery;
import lombok.Data;
import lombok.EqualsAndHashCode;

import java.util.Date;

/**
 * ${tableComment} Vo
 * @author ${author}
 * @date ${date}
 */
@Data
@EqualsAndHashCode(callSuper = true)
public class ${ClassName}Vo extends PageQuery {

    /** ID */
    private Long id;

    /** 创建时间 */
    private Date createTime;

    /** 创建人 */
    private String createBy;
#foreach ($tableField in $tableFields)
#if($tableField.javaField != "id"
&& $tableField.javaField != "createTime" && $tableField.javaField != "createBy"
&& $tableField.javaField != "updateTime" && $tableField.javaField != "updateBy")

    /** ${tableField.comment} */
    private ${tableField.javaType} ${tableField.javaField};
#end
#end
}
