<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vector.module.wms.mapper.WmsProductStockMapper">

    <resultMap type="com.vector.module.wms.pojo.vo.WmsProductStockVO" id="WmsProductStockVOResult">
        <result property="id" column="id"/>
        <result property="productId" column="product_id"/>
        <result property="productName" column="product_name"/>
        <result property="factory" column="factory"/>
        <result property="totalStock" column="total_stock"/>
        <result property="usableStock" column="usable_stock"/>
        <result property="lockedStock" column="locked_stock"/>
    </resultMap>

    <sql id="selectWmsProductStockVOSql">
        SELECT p.id, p.product_id, pp.product_name, pp.factory,
               p.total_stock, p.usable_stock, p.locked_stock
        FROM wms_product_stock p LEFT JOIN pms_product pp ON pp.id = p.product_id
    </sql>

    <select id="selectVOById"  parameterType="Long" resultMap="WmsProductStockVOResult">
        <include refid="selectWmsProductStockVOSql"/>
        WHERE p.id = #{id}
    </select>

    <select id="selectVOPage" resultMap="WmsProductStockVOResult"
            parameterType="com.vector.module.wms.pojo.query.WmsProductStockQuery">
        <include refid="selectWmsProductStockVOSql"/>
        <where>
            <if test="q.productId != null">
                AND p.product_id = #{q.productId}
            </if>
            <if test="q.productName != null and q.productName != ''">
                AND pp.product_name LIKE CONCAT('%', #{q.productName}, '%')
            </if>
            <if test="q.factory != null and q.factory != ''">
                AND pp.factory LIKE CONCAT('%', #{q.factory}, '%')
            </if>
        </where>
    </select>
</mapper>
