<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vector.module.wms.mapper.WmsProductStockMapper">

    <resultMap type="com.vector.module.wms.vo.WmsProductStockVo" id="WmsProductStockVoResult">
        <result property="id" column="id"/>
        <result property="productId" column="product_id"/>
        <result property="productName" column="product_name"/>
        <result property="factory" column="factory"/>
        <result property="totalStock" column="total_stock"/>
        <result property="usableStock" column="usable_stock"/>
        <result property="lockedStock" column="locked_stock"/>
    </resultMap>

    <sql id="selectWmsProductStockVoSql">
        select p.id, p.product_id, pp.product_name, pp.factory,
               p.total_stock, p.usable_stock, p.locked_stock
        from wms_product_stock p left join pms_product pp ON pp.id = p.product_id
    </sql>

    <select id="selectVoById"  parameterType="Long" resultMap="WmsProductStockVoResult">
        <include refid="selectWmsProductStockVoSql"/>
        where p.id=#{id}
    </select>

    <select id="selectVoPage" resultMap="WmsProductStockVoResult"
            parameterType="com.vector.module.wms.vo.WmsProductStockVo">
        <include refid="selectWmsProductStockVoSql"/>
        <where>
            <if test="q.productId != null"> and p.product_id = #{q.id}</if>
            <if test="q.productName != null and q.productName != ''"> and pp.product_name like concat('%', #{q.productName}, '%')</if>
            <if test="q.factory != null and q.factory != ''"> and pp.factory like concat('%', #{q.factory}, '%')</if>
        </where>
        order by p.id desc
    </select>
</mapper>
