<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vector.module.scm.mapper.ScmPurchaseMapper">

    <resultMap id="ScmPurchaseVOResult" type="com.vector.module.scm.pojo.vo.ScmPurchaseVO">
        <result property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="purchaseNo" column="purchase_no"/>
        <result property="purchaseStatus" column="purchase_status"/>
        <result property="supplierId" column="supplier_id"/>
        <result property="supplierName" column="supplier_name"/>
        <result property="purchaseRemake" column="purchase_remake"/>
    </resultMap>

    <sql id="selectScmPurchaseVOSql">
        SELECT p.id, p.create_time, p.purchase_no, p.purchase_status,
            p.supplier_id, ss.supplier_name, p.purchase_remake
        FROM scm_purchase p LEFT JOIN scm_supplier ss ON ss.id = p.supplier_id
    </sql>

    <select id="selectVOById" parameterType="Long"
            resultMap="ScmPurchaseVOResult">
        <include refid="selectScmPurchaseVOSql"/>
        where p.id = #{id}
    </select>

    <select id="selectVOPage" resultMap="ScmPurchaseVOResult"
            parameterType="com.vector.module.scm.pojo.query.ScmPurchaseQuery">
        <include refid="selectScmPurchaseVOSql"/>
        <where>
            <if test="q.createBegin != null and q.createEnd != null">
                AND p.create_time BETWEEN DATE_FORMAT(#{q.createBegin},'%Y-%m-%d 00:00:00')
                AND DATE_FORMAT(#{q.createEnd},'%Y-%m-%d 23:59:59')
            </if>
            <if test="q.purchaseNo != null and q.purchaseNo != ''">
                AND p.purchase_no = #{q.purchaseNo}
            </if>
            <if test="q.purchaseStatus != null ">
                AND p.purchase_status = #{q.purchaseStatus}
            </if>
            <if test="q.supplierId != null ">
                AND p.supplier_id = #{q.supplierId}
            </if>
            <if test="q.supplierName != null and q.supplierName != ''">
                AND ss.supplier_name LIKE CONCAT('%', #{q.supplierName}, '%')
            </if>
            <if test="q.productId != null">
                AND EXISTS(SELECT 1 FROM scm_purchase_detail pd
                WHERE pd.purchase_id = p.id AND pd.product_id = #{q.productId})
            </if>
            <if test="q.productName != null and q.productName != ''">
                AND EXISTS(SELECT 1 FROM scm_purchase_detail pd LEFT JOIN pms_product pp ON pp.id = pd.product_id
                WHERE pd.purchase_id = p.id AND pp.name LIKE CONCAT('%', #{q.productName}, '%'))
            </if>
        </where>
    </select>

</mapper>
